[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
flask = "==1.0.*"

[dev-packages]
pylint = "==2.1.*"
requests = "==2.19.*"
